.Rproj.user
.Rhistory
.RData
.Ruserdata
sample_sheet.csv
sample_sheet.xlsx
heat_maps_cache/**
index_cache/**
maplot_cache/**
xgr_cache/**
pca_plots_cache/**
heat_maps_files/**
maplot_files/**
pca_plots_files/**
xgr_files/**
temp/**
resitance_cache/**
resistance_files/**
index_files/**
